<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>
<h1 class="titleList"> List of all Flights</h1>

<%- include("../partials/footer") %>